.DS_Store
node_modules/*
client/js/vendors/*
build/*
*.pdf

client/coffee/application/modules/deals/*
client/coffee/application/modules/navigation/*
client/coffee/application/modules/perspective/*
client/coffee/application/modules/profiles/*

client/js/application/modules/deals/*
client/js/application/modules/navigation/*
client/js/application/modules/perspective/*
client/js/application/modules/profiles/*

client/coffee/blocks/views/board/*
client/coffee/blocks/views/list/*
client/coffee/blocks/views/preloader/*
client/coffee/blocks/views/profile/*

client/js/blocks/views/board/*
client/js/blocks/views/list/*
client/js/blocks/views/preloader/*
client/js/blocks/views/profile/*