html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

html, body {
  /*overflow: hidden;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  font-family: verdana;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-family: verdana;
}

.not-found {
  position: fixed;
  top: 47px;
  z-index:404;
  width: 100%;
  height: 100%;
  background-color: pink;
  display: none;
}

.not-found p{
  font-weight: bold;
  padding-left: 280px;
  padding-top: 10px;
}

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 47px;
  background-color: #343434;
}

.loading {
  width: 180px;
  height: 270px;
  background-image: url("ajax-loader-horizontal-bar.gif");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center 95%, center center, top left;
  background-size: 101px auto, 150px auto, auto auto;
  background-color: #f3f5f6; 
}

/* pipelineStages */
#pipelineStages .pipeline{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-list-item{
  display: table-cell;
}

.dealsTable{
  height: 100%;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}

.stageDeals{
  display: table-cell;
}

.stages{
  /*display: table-cell;*/
  border-top: 1px #c2c8cd solid;
  border-bottom: 1px #c2c8cd solid;
}

.stages.ready ul {
    -webkit-transition: opacity 0.14s ease-in;
    -moz-transition: opacity 0.14s ease-in;
    -ms-transition: opacity 0.14s ease-in;
    -o-transition: opacity 0.14s ease-in;
    transition: opacity 0.14s ease-in;
    opacity: 1;
}

.stages ul {
  width: 100%;
  height: 45px;
}

.stages ul {
    width: 100%;
}

.stages ul li {
    display: table-cell;
    text-align: left;
    color: #000000;
    padding: 6px 25px 6px 12px;
    background-color: #f3f5f6;
    background: url(stage-arrow.png) no-repeat 100% 0, linear-gradient(#ffffff, #f3f5f6);
    background-size: 20px 100%, 100% 100%;
    border-right: 1px #c2c8cd solid;
    line-height: 1.3em;
    overflow: visible;
    vertical-align: middle;
}

.stages ul li{
  /*width: 10%;*/
}

.stages ul li .stagename {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* thin border table */
table.dealsBoard{
  width: 100%;
  border: 1px solid #e0e4e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table.dealsBoard td, table.dealsBoard th
{   
  border: 1px solid #e0e4e7;
  border-width: 1px 1px 0 0;
  margin: 0;
}

table.dealsBoard thead th{
  width: 20%;
  background: #efefef;
  font-weight: bold;
}
table.dealsBoard thead th{
    text-align: left;
    color: #000000;
    padding: 6px 25px 6px 12px;
    background-color: #f3f5f6;
    background: url(stage-arrow.png) no-repeat 100% 0, linear-gradient(#ffffff, #f3f5f6);
    background-size: 20px 100%, 100% 100%;
    border-right: 1px #c2c8cd solid;
    line-height: 1.3em;
    overflow: visible;
    vertical-align: middle;
}

table.dealsBoard tr:nth-child(even) {background: #efefef}
table.dealsBoard tr:nth-child(odd) {background: #FFF}

table.dealsBoard th, table.dealsBoard td{
}

th.header-list-item{
  height: 28px;
}

.activeCell{
  background-color: #99FF00;
}

/* new styles */

body {
    background: #fff;
}

.main-area{
    position: relative;
    overflow: auto;
    top: 100px;
    margin:0px;
    overflow-y: auto;
}

img.car-image{
  width: 150px;
}

.navigation-tabs li{
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.navigation-tabs li a{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.navigation-tabs li a:active{
}

.navigation .selected-cars-counter{
  position: absolute;
  left: 20px;
  top: 60px;
}

.cars-counter{
  font-size: 12px;
}

.brand-tabs{
  background-color: #fff;
}

span.counter-number{
  color: red;
}

ul.cars-filters{
  border-bottom: 1px solid #e0e4e7;
}

.cars-filters li{
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.cars-filters li a{
  /*color: #ccc;*/
  font-size: 10px;
  font-weight: bold;
}

td.car-choose-button button{
  width: 100px;
  height: 30px;
/*  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
}

table.cars{
  width: 100%;
  border-collapse:collapse;
  border: 1px solid #e0e4e7;
  background-color: #f3f5f6;
}

table.cars tr{
  border-bottom: 1px solid #e0e4e7;
}

table.cars td{
  border-right: 1px solid #e0e4e7;
}

table.cars td.car-image{
  width: 170px;
}

table.cars td.car-name{
  width: 25%;
}

img.car-image{
  margin-top: 10px;
  margin-left: 10px;
}