html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

html, body {
  /*overflow: hidden;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  font-family: verdana;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-family: verdana;
}

.not-found {
  position: fixed;
  top: 47px;
  z-index:404;
  width: 100%;
  height: 100%;
  background-color: pink;
  display: none;
}

.not-found p{
  font-weight: bold;
  padding-left: 280px;
  padding-top: 10px;
}

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 47px;
  background-color: #343434;
}

.loading {
  width: 180px;
  height: 270px;
  background-image: url("ajax-loader-horizontal-bar.gif");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center 95%, center center, top left;
  background-size: 101px auto, 150px auto, auto auto;
  background-color: #f3f5f6; 
}

.activeCell{
  background-color: #99FF00;
}

/* new styles */

body {
    background-color: #fff;
}

.main-area{
    position: relative;
    overflow: auto;
    top: 100px;
    margin:0px;
    overflow-y: auto;
}

img.car-image{
  width: 150px;
}

.navigation-tabs li{
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.navigation-tabs li a{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.navigation-tabs li a:active{
}

.navigation .selected-cars-counter{
  position: absolute;
  left: 20px;
  top: 60px;
}

.cars-counter{
  font-size: 12px;
}

.brand-tabs{
  background-color: #fff;
}

span.counter-number{
  color: red;
}

ul.cars-filters{
  border-bottom: 1px solid #e0e4e7;
}

.cars-filters li{
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.cars-filters li a{
  /*color: #ccc;*/
  font-size: 10px;
  font-weight: bold;
}

td.car-choose-button{
  position: relative;
}

td.car-choose-button button{
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
}

table.cars{
  width: 100%;
  border-collapse:collapse;
  border: 1px solid #e0e4e7;
  background-color: #f3f5f6;
}

table.cars tr{
  border-bottom: 1px solid #e0e4e7;
}

table.cars td{
  border-right: 1px solid #e0e4e7;
}

table.cars td.car-image{
  width: 170px;
}

table.cars td.car-name{
  width: 25%;
}

img.car-image{
  margin-top: 10px;
  margin-left: 10px;
}